<h1> Contact US </h1>

<br><br><br>
<h5>Connect with us using<h5>
<ul> 
  <li><%=image_tag("facebookLogo.jpg", alt: "Image")%></li>
  <li><%=image_tag("twitterLogo.png", alt: "Image")%></li>
<ul>  

<style>

ul li{

  display: block;
  float: left;
}
</style>  