<svg width="100%" height="100%" id="redTomato"
   viewbox="0 0 548.55945 511.44623">
 <defs>
  <linearGradient id="linearGradient4487">
   <stop stop-color="#e29239" id="stop4489" offset="0"/>
   <stop stop-color="#e29239" stop-opacity="0.016878" id="stop4491" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient4391">
   <stop stop-color="#830c1b" id="stop4393" offset="0"/>
   <stop stop-color="#bc2609" stop-opacity="0.004219" id="stop4395" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient4383">
   <stop stop-color="#000000" id="stop4385" offset="0"/>
   <stop stop-color="#000000" stop-opacity="0" id="stop4387" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient3833">
   <stop stop-color="#244a22" id="stop3835" offset="0"/>
   <stop stop-color="#14190f" stop-opacity="0.937255" id="stop3837" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient3823">
   <stop stop-color="#244a22" id="stop3825" offset="0"/>
   <stop stop-color="#5f9911" id="stop3827" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient3805">
   <stop stop-color="#9baf72" id="stop3807" offset="0"/>
   <stop stop-color="#224815" id="stop3809" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient3795">
   <stop stop-color="#71d73e" id="stop3797" offset="0"/>
   <stop stop-color="#006c00" offset="0.5" id="stop3803"/>
   <stop stop-color="#004600" id="stop3799" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient3755">
   <stop stop-color="#9db174" id="stop3757" offset="0"/>
   <stop stop-color="#9db174" stop-opacity="0" id="stop3759" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient3717">
   <stop stop-color="#9db174" id="stop3719" offset="0"/>
   <stop stop-color="#9db174" stop-opacity="0" id="stop3721" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient3707">
   <stop stop-color="#338000" id="stop3709" offset="0"/>
   <stop stop-color="#338000" stop-opacity="0" id="stop3711" offset="1"/>
  </linearGradient>
  <filter color-interpolation-filters="sRGB" height="1.257803" y="-0.128901" width="1.188356" x="-0.094178" id="filter3779">
   <feGaussianBlur id="feGaussianBlur3781" stdDeviation="0.71098"/>
  </filter>
  <linearGradient gradientTransform="matrix(1.0844156,0,0,1,-20.772264,0)" gradientUnits="userSpaceOnUse" y2="511.54987" x2="301.27142" y1="511.54987" x1="245.87143" id="linearGradient3849-4" xlink:href="#linearGradient3833-6"/>
  <linearGradient id="linearGradient3833-6">
   <stop stop-color="#244a22" id="stop3835-5" offset="0"/>
   <stop stop-color="#142f0f" stop-opacity="0.936709" id="stop3837-2" offset="1"/>
  </linearGradient>
  <linearGradient xlink:href="#linearGradient3833-6-8" id="linearGradient3868-3" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.2402598,0,0,1.2566505,-67.513912,-130.8344)" x1="245.87143" y1="511.54987" x2="301.27142" y2="511.54987"/>
  <linearGradient id="linearGradient3833-6-8">
   <stop stop-color="#244a22" id="stop3835-5-9" offset="0"/>
   <stop stop-color="#142f0f" stop-opacity="0.936709" id="stop3837-2-1" offset="1"/>
  </linearGradient>
  <linearGradient xlink:href="#linearGradient3833-6-8-8" id="linearGradient3906-8" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.49742715,1.5023776,1.969896,-0.53002198,-804.92733,308.35463)" x1="245.87143" y1="511.54987" x2="301.27142" y2="511.54987"/>
  <linearGradient id="linearGradient3833-6-8-8">
   <stop stop-color="#244a22" id="stop3835-5-9-0" offset="0"/>
   <stop stop-color="#142f0f" stop-opacity="0.936709" id="stop3837-2-1-1" offset="1"/>
  </linearGradient>
  <filter id="filter4011-4" color-interpolation-filters="sRGB">
   <feGaussianBlur id="feGaussianBlur4013-5" stdDeviation="1.06762"/>
  </filter>
  <filter color-interpolation-filters="sRGB" id="filter4047">
   <feGaussianBlur id="feGaussianBlur4049" stdDeviation="1.171232"/>
  </filter>
  <filter id="filter4047-2" color-interpolation-filters="sRGB">
   <feGaussianBlur id="feGaussianBlur4049-3" stdDeviation="1.171232"/>
  </filter>
  <filter color-interpolation-filters="sRGB" height="1.318421" y="-0.15921" width="1.32943" x="-0.164715" id="filter4111">
   <feGaussianBlur id="feGaussianBlur4113" stdDeviation="2.025046"/>
  </filter>
  <filter height="1.318421" y="-0.15921" width="1.32943" x="-0.164715" id="filter4111-1" color-interpolation-filters="sRGB">
   <feGaussianBlur id="feGaussianBlur4113-4" stdDeviation="2.025046"/>
  </filter>
  <filter height="1.318421" y="-0.15921" width="1.32943" x="-0.164715" id="filter4111-8" color-interpolation-filters="sRGB">
   <feGaussianBlur id="feGaussianBlur4113-5" stdDeviation="2.025046"/>
  </filter>
  <filter height="1.318421" y="-0.15921" width="1.32943" x="-0.164715" id="filter4111-8-6" color-interpolation-filters="sRGB">
   <feGaussianBlur id="feGaussianBlur4113-5-7" stdDeviation="2.025046"/>
  </filter>
  <filter height="1.318421" y="-0.15921" width="1.32943" x="-0.164715" id="filter4111-8-8" color-interpolation-filters="sRGB">
   <feGaussianBlur id="feGaussianBlur4113-5-5" stdDeviation="2.025046"/>
  </filter>
  <filter height="1.318421" y="-0.15921" width="1.32943" x="-0.164715" id="filter4111-8-66" color-interpolation-filters="sRGB">
   <feGaussianBlur id="feGaussianBlur4113-5-9" stdDeviation="2.025046"/>
  </filter>
  <filter height="1.318421" y="-0.15921" width="1.32943" x="-0.164715" id="filter4111-8-4" color-interpolation-filters="sRGB">
   <feGaussianBlur id="feGaussianBlur4113-5-4" stdDeviation="2.025046"/>
  </filter>
  <filter height="1.318421" y="-0.15921" width="1.32943" x="-0.164715" id="filter4111-8-1" color-interpolation-filters="sRGB">
   <feGaussianBlur id="feGaussianBlur4113-5-1" stdDeviation="2.025046"/>
  </filter>
  <filter color-interpolation-filters="sRGB" id="filter4274">
   <feGaussianBlur id="feGaussianBlur4276" stdDeviation="1.166926"/>
  </filter>
  <filter color-interpolation-filters="sRGB" height="1.572298" y="-0.286149" width="1.57717" x="-0.288585" id="filter4291">
   <feGaussianBlur id="feGaussianBlur4293" stdDeviation="3.604818"/>
  </filter>
  <filter height="1.572298" y="-0.286149" width="1.57717" x="-0.288585" id="filter4291-7" color-interpolation-filters="sRGB">
   <feGaussianBlur id="feGaussianBlur4293-1" stdDeviation="3.604818"/>
  </filter>
  <filter color-interpolation-filters="sRGB" height="1.248193" y="-0.124096" width="1.217396" x="-0.108698" id="filter4347">
   <feGaussianBlur id="feGaussianBlur4349" stdDeviation="6.065498"/>
  </filter>
  <linearGradient y2="0.5" x2="0.577876" y1="1" x1="0.5" id="linearGradient4406" xlink:href="#linearGradient4391"/>
  <linearGradient y2="697.79865" x2="661.64996" y1="878.19714" x1="639.42657" gradientTransform="translate(17.42509,-149.8498)" gradientUnits="userSpaceOnUse" id="linearGradient4406-8" xlink:href="#linearGradient4391-3"/>
  <linearGradient id="linearGradient4391-3">
   <stop stop-color="#ddaddf" id="stop4393-9" offset="0"/>
   <stop stop-color="#bc2609" stop-opacity="0.004219" id="stop4395-3" offset="1"/>
  </linearGradient>
  <linearGradient xlink:href="#linearGradient4391-3" id="linearGradient4426" x1="0" y1="0.913642" x2="0.29115" y2="0.775552"/>
  <linearGradient xlink:href="#linearGradient4391-3-2" id="linearGradient4426-6" gradientUnits="userSpaceOnUse" gradientTransform="translate(-114.14724,115.15739)" x1="496.74265" y1="811.5271" x2="579.82764" y2="773.56006"/>
  <linearGradient id="linearGradient4391-3-2">
   <stop stop-color="#ddaddf" id="stop4393-9-5" offset="0"/>
   <stop stop-color="#bc2609" stop-opacity="0.004219" id="stop4395-3-8" offset="1"/>
  </linearGradient>
  <linearGradient xlink:href="#linearGradient4391-3-2" id="linearGradient4464" x1="1" y1="0.810769" x2="0.758408" y2="0.716768"/>
  <filter color-interpolation-filters="sRGB" height="1.362486" y="-0.181243" width="1.250116" x="-0.125058" id="filter4543">
   <feGaussianBlur id="feGaussianBlur4545" stdDeviation="10.527287"/>
  </filter>
  <linearGradient y2="0.78877" x2="1" y1="0" x1="0" id="linearGradient4549" xlink:href="#linearGradient3833"/>
  <linearGradient y2="0.5" x2="-0.451999" y1="0.5" x1="1.028" id="linearGradient4551" xlink:href="#linearGradient3823"/>
  <linearGradient y2="0.831827" x2="0.500001" y1="0.791495" x1="1.494426" id="linearGradient4553" xlink:href="#linearGradient3805"/>
  <radialGradient r="9.241372" fy="469.50415" fx="321.22852" cy="469.50415" cx="321.22852" gradientTransform="matrix(2.9197835,-0.33160211,0.27560822,1.7724124,-746.08841,-256.13079)" gradientUnits="userSpaceOnUse" id="radialGradient4555" xlink:href="#linearGradient3707"/>
  <radialGradient r="9.241372" fy="469.50415" fx="321.22852" cy="469.50415" cx="321.22852" gradientTransform="matrix(3.9005692,0.54103907,-0.26254076,1.8927626,-808.48157,-592.9529)" gradientUnits="userSpaceOnUse" id="radialGradient4557" xlink:href="#linearGradient3717"/>
  <linearGradient y2="0.95069" x2="1.488682" y1="0.052474" x1="-0.139831" id="linearGradient4559" xlink:href="#linearGradient3833-6-8"/>
  <linearGradient y2="1.323416" x2="0.636047" y1="-0.116333" x1="0.27867" id="linearGradient4561" xlink:href="#linearGradient3833-6-8-8"/>
  <linearGradient y2="0.499999" x2="1.003636" y1="0.499999" x1="-0.003636" id="linearGradient4563" xlink:href="#linearGradient3833"/>
  <linearGradient y2="0.742552" x2="0.717863" y1="0.490476" x1="0.59816" id="linearGradient4565" xlink:href="#linearGradient3805"/>
  <linearGradient y2="0.5" x2="1.003636" y1="0.5" x1="-0.003636" id="linearGradient4567" xlink:href="#linearGradient3833-6"/>
  <linearGradient y2="1.683824" x2="0.375819" y1="0" x1="0.375819" id="linearGradient4596" xlink:href="#linearGradient4487"/>
  <filter color-interpolation-filters="sRGB" height="2.192701" y="-0.59635" width="2.304419" x="-0.652209" id="filter4617">
   <feGaussianBlur id="feGaussianBlur4619" stdDeviation="7.800808"/>
  </filter>
  <filter color-interpolation-filters="sRGB" height="1.219247" y="-0.109624" width="1.324486" x="-0.162243" id="filter4623">
   <feGaussianBlur id="feGaussianBlur4625" stdDeviation="1.707189"/>
  </filter>
  <filter height="1.219247" y="-0.109624" width="1.324486" x="-0.162243" id="filter4623-3" color-interpolation-filters="sRGB">
   <feGaussianBlur id="feGaussianBlur4625-5" stdDeviation="1.707189"/>
  </filter>
  <filter height="1.219247" y="-0.109624" width="1.324486" x="-0.162243" id="filter4623-2" color-interpolation-filters="sRGB">
   <feGaussianBlur id="feGaussianBlur4625-8" stdDeviation="1.707189"/>
  </filter>
  <filter color-interpolation-filters="sRGB" id="filter4715">
   <feGaussianBlur id="feGaussianBlur4717" stdDeviation="0.072875"/>
  </filter>
  <filter color-interpolation-filters="sRGB" id="filter4731">
   <feGaussianBlur id="feGaussianBlur4733" stdDeviation="2.468191"/>
  </filter>
 </defs>
 <metadata id="metadata7">image/svg+xml</metadata>
 <g>
  <title>Layer 1</title>
  <path fill="#bc2609" d="m234.173111,57.601929c57.89119,-20.878635 115.069473,-7.541409 164.664139,22.953125c33.98877,24.599113 57.057037,49.38063 72.851471,100.794479c9.132141,40.218903 13.341492,84.250473 -16.965424,137.719101c-32.518646,58.451874 -75.781616,86.488525 -107.780151,98.798523c-71.224762,20.51944 -137.286331,20.358795 -186.619461,-15.967468c-48.852348,-35.97229 -72.362244,-82.711334 -78.839157,-126.741516c-6.352371,-43.182739 3.9161,-82.413223 35.926659,-129.735382c37.087502,-47.003494 61.383034,-63.749695 116.761925,-87.820862z" id="path2890"/>
  <path fill="url(#linearGradient4426)" d="m234.173111,57.601929c57.89119,-20.878635 115.069473,-7.541409 164.664139,22.953125c33.98877,24.599113 57.057037,49.38063 72.851471,100.794479c9.132141,40.218903 13.341492,84.250473 -16.965424,137.719101c-32.518646,58.451874 -75.781616,86.488525 -107.780151,98.798523c-71.224762,20.51944 -137.286331,20.358795 -186.619461,-15.967468c-48.852348,-35.97229 -72.362244,-82.711334 -78.839157,-126.741516c-6.352371,-43.182739 3.9161,-82.413223 35.926659,-129.735382c37.087502,-47.003494 61.383034,-63.749695 116.761925,-87.820862z" id="path2890-2-3"/>
  <path fill="url(#linearGradient4406)" d="m234.173111,57.601929c57.89119,-20.878635 115.069473,-7.541409 164.664139,22.953125c33.98877,24.599113 57.057037,49.38063 72.851471,100.794479c9.132141,40.218903 13.341492,84.250473 -16.965424,137.719101c-32.518646,58.451874 -75.781616,86.488525 -107.780151,98.798523c-71.224762,20.51944 -137.286331,20.358795 -186.619461,-15.967468c-48.852348,-35.97229 -72.362244,-82.711334 -78.839157,-126.741516c-6.352371,-43.182739 3.9161,-82.413223 35.926659,-129.735382c37.087502,-47.003494 61.383034,-63.749695 116.761925,-87.820862z" id="path2890-2"/>
  <path fill="url(#linearGradient4464)" d="m234.173111,57.601929c57.89119,-20.878635 115.069565,-7.541409 164.664139,22.953125c33.988861,24.599113 57.057037,49.38063 72.851379,100.794479c9.132233,40.218903 13.341583,84.250473 -16.965271,137.719101c-32.518707,58.451874 -75.781677,86.488525 -107.780212,98.798523c-71.224762,20.51944 -137.286331,20.358795 -186.619461,-15.967468c-48.852348,-35.97229 -72.362244,-82.711334 -78.839157,-126.741516c-6.352371,-43.182739 3.9161,-82.413223 35.926659,-129.735382c37.087502,-47.003494 61.383034,-63.749695 116.761925,-87.820862z" id="path2890-2-3-3"/>
  <path fill="#c3150e" filter="url(#filter4543)" id="path4533" d="m413.232574,185.229675c0,63.625961 -64.262268,115.204987 -143.533844,115.204987c-79.271637,0 -143.533997,-51.579025 -143.533997,-115.204987c0,-63.625984 64.26236,-115.205055 143.533997,-115.205055c77.263672,0 140.66391,49.089714 143.441162,111.064003"/>
  <g opacity="0.927445" filter="url(#filter4347)" id="g4323" transform="matrix(1.3971506,0,0,1.40621782796388,-61.3227,-408.41755891394547) ">
   <g filter="url(#filter4274)" id="g4257">
    <path opacity="0.930599" fill="#ffffff" filter="url(#filter4047)" id="path3997" d="m268.370453,354.50946c2.521088,7.384521 -1.964172,16.296814 -10.018097,19.906189c-8.05394,3.609406 -16.626694,0.549072 -19.147781,-6.835419c-2.521088,-7.384521 1.964157,-16.296814 10.018112,-19.906189c7.849945,-3.517975 16.23645,-0.707336 18.974274,6.359039"/>
    <path opacity="0.968454" fill="#ffffff" filter="url(#filter4011-4)" id="path3997-5" d="m219.29364,434.107971c2.280716,5.548157 -1.776886,12.244202 -9.062912,14.956024c-7.286026,2.711823 -15.041382,0.412537 -17.322098,-5.135651c-2.280716,-5.548157 1.776886,-12.244202 9.062912,-14.956024c7.101471,-2.643127 14.68837,-0.531433 17.165161,4.77774"/>
    <path opacity="0.930599" fill="#ffffff" filter="url(#filter4047-2)" id="path3997-6" d="m162.534363,405.498444c2.422363,5.344971 -1.887253,11.795746 -9.625824,14.408264c-7.738571,2.612488 -15.975632,0.39743 -18.39801,-4.94754c-2.422363,-5.344971 1.887253,-11.795746 9.625824,-14.408264c7.542557,-2.546326 15.600693,-0.511963 18.231308,4.602753"/>
    <path opacity="0.930599" fill="#ffffff" filter="url(#filter4111)" id="path3997-6-1" d="m162.275116,386.389313c1.897308,4.394318 -1.47818,9.697784 -7.539383,11.845612c-6.061203,2.147858 -12.512833,0.326752 -14.410141,-4.067566c-1.897324,-4.394318 1.47818,-9.697754 7.539368,-11.845612c5.907684,-2.093445 12.219177,-0.420898 14.279587,3.784088"/>
    <path opacity="0.930599" fill="#ffffff" filter="url(#filter4111-1)" id="path3997-6-1-4" d="m169.093658,375.530182c1.897308,4.394287 -1.47818,9.697754 -7.539383,11.845612c-6.061203,2.147858 -12.512833,0.326721 -14.410141,-4.067566c-1.897324,-4.394318 1.478165,-9.697784 7.539368,-11.845642c5.907684,-2.093445 12.219177,-0.420898 14.279587,3.784119"/>
    <path opacity="0.930599" fill="#ffffff" filter="url(#filter4111-8)" id="path3997-6-1-5" d="m178.68483,365.427521c1.678116,3.539581 -1.307404,7.811462 -6.66832,9.541534c-5.360931,1.730072 -11.067184,0.263184 -12.7453,-3.276398c-1.678116,-3.539581 1.307404,-7.811462 6.668335,-9.541504c5.225128,-1.686249 10.807434,-0.33905 12.629807,3.048035"/>
    <path opacity="0.930599" fill="#ffffff" filter="url(#filter4111-8-6)" id="path3997-6-1-5-9" d="m191.564285,357.093781c1.678101,3.539551 -1.307404,7.811432 -6.668335,9.541504c-5.360931,1.730072 -11.067184,0.263184 -12.7453,-3.276398c-1.678101,-3.539551 1.307404,-7.811432 6.668335,-9.541504c5.225143,-1.686249 10.807449,-0.33905 12.629822,3.048035"/>
    <path opacity="0.930599" fill="#ffffff" filter="url(#filter4111-8-8)" id="path3997-6-1-5-94" d="m204.696259,347.497314c1.678116,3.539581 -1.307404,7.811462 -6.66832,9.541534c-5.360931,1.730072 -11.067184,0.263184 -12.7453,-3.276398c-1.678101,-3.539581 1.307404,-7.811462 6.668335,-9.541534c5.225128,-1.686218 10.807434,-0.33902 12.629807,3.048065"/>
    <path opacity="0.930599" fill="#ffffff" filter="url(#filter4111-8-66)" id="path3997-6-1-5-8" d="m236.010986,338.405945c1.678116,3.539581 -1.307388,7.811462 -6.66832,9.541534c-5.360931,1.730072 -11.067184,0.263184 -12.7453,-3.276398c-1.678101,-3.539581 1.307404,-7.811462 6.668335,-9.541534c5.225128,-1.686249 10.807434,-0.33902 12.629807,3.048065"/>
    <path opacity="0.930599" fill="#ffffff" filter="url(#filter4111-8-4)" id="path3997-6-1-5-6" d="m246.125626,428.473114c-0.691406,3.855713 -5.603622,5.597107 -10.971741,3.889496c-5.368134,-1.707611 -9.159348,-6.21756 -8.467957,-10.073303c0.691406,-3.855713 5.603622,-5.597107 10.971741,-3.889496c5.232162,1.664368 8.992065,6.004883 8.506683,9.820374"/>
    <path opacity="0.930599" fill="#ffffff" filter="url(#filter4111-8-1)" id="path3997-6-1-5-3" d="m257.952423,408.8367c1.227631,2.662659 -2.222961,4.992218 -7.707123,5.203247c-5.484161,0.210999 -10.92514,-1.776459 -12.152786,-4.439087c-1.227631,-2.662659 2.222961,-4.992218 7.707138,-5.203247c5.345245,-0.205658 10.678558,1.679901 12.066467,4.266052"/>
   </g>
   <path opacity="0.930599" fill="#ffffff" filter="url(#filter4291)" d="m189.543976,441.441528c1.678101,3.539551 -1.307404,7.811432 -6.668335,9.541504c-5.360931,1.730072 -11.067184,0.263184 -12.745285,-3.276398c-1.678116,-3.539551 1.307404,-7.811432 6.66832,-9.541504c5.225143,-1.686249 10.807449,-0.33905 12.629822,3.048035" id="path3997-6-1-5-30"/>
   <path opacity="0.930599" fill="#ffffff" filter="url(#filter4291-7)" d="m164.290161,431.339966c1.678101,3.539581 -1.307404,7.811462 -6.668335,9.541534c-5.360931,1.730072 -11.067184,0.263184 -12.745285,-3.276398c-1.678116,-3.539551 1.307404,-7.811432 6.66832,-9.541504c5.225143,-1.686249 10.807449,-0.33905 12.629822,3.048035" id="path3997-6-1-5-30-9"/>
  </g>
  <path fill="url(#linearGradient4596)" filter="url(#filter4731)" d="m141.951538,222.629944l16.93602,-12.702011l11.290619,-5.645325l22.581421,-14.113312l15.524612,-2.822693l56.453461,-29.638031l14.284546,-3.735062l-17.107239,-1.910248l4.405212,-10.87738l4.062775,-8.881332l-11.290619,-5.645317l-4.233994,0l-7.056702,1.411308l-31.049423,4.234009l-7.056625,19.758713l-28.226715,23.99263l-39.517349,46.574051z" id="path4485"/>
  <path opacity="0.62776" fill="#600000" filter="url(#filter4623-2)" d="m220.508347,196.215103c-14.355972,-4.562103 -47.701721,17.395355 -71.581833,28.705627c18.807846,-14.197449 38.689362,-37.961411 61.823059,-43.20784l9.758774,14.502213z" id="path4621-4"/>
  <path opacity="0.62776" fill="#600000" filter="url(#filter4623)" d="m231.223312,186.276855c9.552414,1.454422 20.82428,21.669022 30.376724,33.862534c-5.749771,-12.339127 -8.891388,-29.911087 -20.060074,-38.770126l-10.31665,4.907593z" id="path4621"/>
  <path opacity="0.62776" fill="#600000" filter="url(#filter4623-3)" d="m251.318222,178.329666c10.553238,-7.07251 39.390213,11.059738 59.455063,19.358688c-16.505463,-12.15155 -35.116302,-34.292526 -53.79541,-36.269928l-5.659653,16.91124z" id="path4621-2"/>
  <g transform="matrix(1.3971506,0,0,1.3971506,-480.46788,-403.36772) " id="g3981">
   <path fill="#3d6c38" stroke="#112b00" stroke-width="0.3" stroke-miterlimit="4" id="path2892" d="m491.770355,303.317566c3.115692,26.701599 8.62674,60.833374 12.308746,73.19635l9.747437,1.97699c3.085571,-19.782471 8.088257,-39.972229 13.86731,-55.714294l5.209229,-8.953918c-6.291992,26.836426 -12.333618,53.547729 -10.714294,76.428528c7.380188,-10.934692 19.948059,-33.965027 27.857117,-50.209167c-3.836426,14.877014 -17.031311,40.611145 -22.857117,53.066345c-1.524841,9.275146 1.093628,9.818359 0,16.428528l-5,5.714294l-6.428528,5.714294l-9.285736,3.571411l-5,-0.714233l-3.946533,-0.966858l-3.910614,-0.461731l-0.714294,-2.857178c-0.502655,-0.567322 -2.880981,-1.999451 -18.571442,0l-19.285706,7.857178l-20,10l-10,3.571411l-5.714264,2.142822l-5.714294,7.142883l-0.714294,6.428589l0,-7.857178l5.714294,-8.571411c3.756653,-2.234253 1.023621,-0.16626 25,-15l23.571411,-11.428528c6.579071,-2.591492 13.704926,-4.443359 20.714294,-2.857178c-21.308655,-21.302246 -49.965393,-40.755981 -66.846985,-63.030457c23.049835,19.972229 40.551941,26.310059 76.13269,55.17334l-4.91333,-22.142883c-1.29187,-11.195129 -3.707611,-25.129578 -3.658081,-45.714294l3.152985,-31.933655z"/>
   <path fill="url(#linearGradient4549)" filter="url(#filter4715)" id="path3831" d="m477.188782,389.536926l24.285736,23.214294l2.5,-30l-6.785736,-36.785706l5.357147,38.928589l-6.071411,-3.928589l-3.571442,0.714294l4.642853,22.857117l-20.357147,-15z"/>
   <path fill="url(#linearGradient4551)" id="path3813" d="m500.760223,421.322693l-2.5,-40.357178l16.071442,-1.071411l1.785706,33.928589l-15.357147,7.5z"/>
   <path fill="url(#linearGradient4553)" id="path3965" d="m491.831635,310.550171c-0.897156,20.210388 -2.892731,43.480225 1.071442,69.387268c3.057007,0.72467 4.537415,0.088867 8.351715,1.653931c-5.721802,-16.44281 -7.214996,-47.550415 -9.423157,-71.041199z"/>
   <g transform="matrix(0.94519261,0,0,0.92520987,17.786395,21.732964) " id="g3765">
    <path fill="#9db174" id="path3666" d="m526.403015,386.911591c0.399048,3.604279 -3.32312,6.973969 -8.31366,7.526428c-4.99054,0.55246 -9.35965,-1.921509 -9.758636,-5.525818c-0.399017,-3.604279 3.323181,-6.973969 8.31369,-7.526428c4.934753,-0.546265 9.273438,1.867676 9.746094,5.422546"/>
    <path fill="#89945a" id="path3666-2" d="m525.355835,386.79657c0.362122,3.215271 -3.016357,6.221222 -7.546204,6.71405c-4.529724,0.492828 -8.495483,-1.714111 -8.857635,-4.929352c-0.362183,-3.215271 3.016388,-6.221222 7.546173,-6.71405c4.479126,-0.487335 8.417236,1.666077 8.846252,4.83725"/>
    <path fill="url(#radialGradient4555)" filter="url(#filter3779)" id="path3666-5" d="m521.793518,386.740295c0.335022,2.32608 -2.078491,4.577332 -5.390686,5.028351c-3.312195,0.451019 -6.268799,-1.06897 -6.60379,-3.39505c-0.335022,-2.32605 2.078461,-4.577301 5.390656,-5.028351c3.228333,-0.439575 6.135803,0.994324 6.578125,3.244202"/>
    <path fill="url(#radialGradient4557)" id="path3666-3" d="m519.452087,387.067413c0.212769,1.233795 -1.33667,2.426056 -3.460876,2.662994c-2.124146,0.236938 -4.018616,-0.571136 -4.231384,-1.804932c-0.212799,-1.233795 1.336731,-2.426056 3.460876,-2.662994c1.934387,-0.21579 3.711792,0.436523 4.150818,1.523407"/>
   </g>
   <path fill="url(#linearGradient4559)" id="path3841-4-1" d="m532.267029,314.64032c-7.118591,33.56543 -22.720764,73.094788 -9.928833,92.66333c-4.184937,-7.564148 -7.40741,-16.028137 -6.949646,-27.932617c4.950195,-27.934753 11.006348,-45.467529 16.878479,-64.730713z"/>
   <path fill="url(#linearGradient4561)" id="path3841-4-1-4" d="m428.087036,354.891602c25.933441,24.274475 46.265137,31.211121 70.275665,59.826843c-6.813812,-2.226624 -5.635254,-5.390747 -17.532227,-14.821411c-4.645264,-3.252747 -40.053925,-31.370117 -52.743439,-45.005432z"/>
   <path fill="url(#linearGradient4563)" id="path3841" d="m433.974487,434.17981c20.97641,-8.49823 44.392609,-21.871155 59.642883,-18.928589c-5.75946,-0.783325 -11.943665,-0.979126 -19.751862,1.071472c-17.631226,6.618469 -28.171295,12.147156 -39.891022,17.857117z"/>
   <path fill="url(#linearGradient4565)" id="path3785" d="m547.903076,345.42981c-8.328125,16.293152 -16.069824,32.977234 -25.714294,48.392883c-0.561096,3.609375 -0.233826,2.906311 -1.25,3.785706l-0.178528,2.642822l2.142822,7.5l-2.857178,-12.857117l-2.5,-7.5l-1.785645,-3.928589l-0.714355,-6.785706l-1.428528,6.428589l-0.357117,6.785706l-1.071472,7.857117l-4.642853,8.214294l-2.857147,8.571411l-1.428558,4.642883c-0.207001,-6.373718 -6.832367,-7.562134 -12.142853,-7.857117l-3.571442,1.428528l-0.357147,2.5l-0.357147,0.714294l-6.428558,0.357178c-2.825958,-0.349915 -10.110901,1.974304 -16.25,4.464233l-11.964294,5.178589l-24.642853,13.214294l29.107147,-13.392883l13.392853,-5.535706c7.380951,-1.81012 14.761902,-4.009155 22.142853,-2.142822l8.214294,3.571411l5,-0.714294c6.726807,0.23938 10.704834,-5.018982 15.714294,-8.214294l0.714294,-11.071411l4.464233,-11.428589c8.779297,-14.940491 14.516174,-29.88092 21.607178,-44.821411z"/>
   <path fill="url(#linearGradient4567)" id="path3841-4" d="m426.653076,436.420654c23.990936,-10.67926 50.772339,-27.484375 68.214294,-23.78656c-6.587189,-0.984375 -13.660126,-1.230408 -22.590454,1.346375c-20.16507,8.3172 -32.219849,15.264771 -45.62384,22.440186z"/>
  </g>
  <path opacity="0.892744" fill="#ffffff" filter="url(#filter4617)" id="path3997-6-1-5-2" d="m347.319733,223.491425c5.249115,14.97316 -4.089478,33.044098 -20.858368,40.362671c-16.76886,7.318542 -34.61792,1.113312 -39.866974,-13.859818c-5.249115,-14.97316 4.089478,-33.044144 20.858368,-40.362686c16.344116,-7.133194 33.80542,-1.434204 39.505829,12.89389"/>
 </g>
</svg>
  